<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Faça o seu Cadastro</h1>
    <form action="/user/cadaster" method="POST">
        <div><input type="text" name="name" placeholder="Informe seu Nome"/>
        </div>
        <div><input type="text" name="age" placeholder="Informe sua idadae"></div>
        <div><input type="submit" value="Cadastrar"></div>
    </form>
</body>
</html>